<h1>Overview of Weather in England Today</h1>
<div class = "overview">
    <div>
        <h3>{{name.[0]}}</h3>
        <ul>
            {{#each data}}
            <li>{{@key}} : {{this.[0]}}</li>
            {{/each}}
        </ul>
        <h3>{{name.[1]}}</h3>
        <ul>
            {{#each data}}
            <li>{{@key}} : {{this.[1]}}</li>
            {{/each}}
        </ul>
    </div>
    <div>
        <h3>{{name.[2]}}</h3>
        <ul>
            {{#each data}}
            <li>{{@key}} : {{this.[2]}}</li>
            {{/each}}
        </ul>
        <h3>{{name.[3]}}</h3>
        <ul>
            {{#each data}}
            <li>{{@key}} : {{this.[3]}}</li>
            {{/each}}
        </ul>
    </div>
    <div>
        <h3>{{name.[4]}}</h3>
        <ul>
            {{#each data}}
            <li>{{@key}} : {{this.[4]}}</li>
            {{/each}}
        </ul>
        <h3>{{name.[5]}}</h3>
        <ul>
            {{#each data}}
            <li>{{@key}} : {{this.[5]}}</li>
            {{/each}}
        </ul>
    </div>
    <div>
        <h3>{{name.[6]}}</h3>
        <ul>
            {{#each data}}
            <li>{{@key}} : {{this.[6]}}</li>
            {{/each}}
        </ul>
        <h3>{{name.[7]}}</h3>
        <ul>
            {{#each data}}
            <li>{{@key}} : {{this.[7]}}</li>
            {{/each}}
        </ul>
    </div>
</div>
<img class="uk" id="uk" src="uk.png" alt="map">
{{!-- <a class="btn-style" href="/weather">What's the weather?</a> --}}