<h1>Weather Request</h1>
<div class = "specific">
    <form action="/weather" method="POST">
    {{!-- POST calls app.post in the index.js file --}}
        <label for="location">city: </label>
        <input type="text" name="location">
        <label for="countryCode">country code: </label>
        <input type="text" name="countryCode">
        <input type="submit" name="submit">
    </form>

    {{#if err}}
        <h2>{{err}}</h2>
    {{/if}}
    {{#if listExists}}
        <h2>Today's weather in {{name}}:</h2>
        <ul>
            {{#each data}}
            {{!-- @key is the name of the object --}}
                    <li>{{@key}} : {{this}}</li>
            {{/each}}
            <li class = "icon">{{logo}}</li>
        </ul>
    {{/if}}
</div>